<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Data Addition </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head> 

    <body background="{{ url_for('static',filename='MacOS.jpg')}}">
        <form action="/display-data" method="POST">
            <div class="form-item">
                <label>
                    <p>Display Data</p> 
                    <div class="container">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </label>
            </div>
            <table class="styled-table" >
                <thead>
                    <th>Room No</th>
                    <th>User Name</th>
                    <th>People Count</th>
                    <th>Days Of Stay</th>
                    <th>Update</th>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td class="name-row">{{ item['RoomID'] }}</td>
                        <td class="name-row">{{ item['User'] }}</td>
                        <td class="name-row">{{ item['Count'] }}</td>
                        <td class="name-row">{{ item['Stay'] }}</td>
                        <td class="name-row">
                            <a href="{{ url_for('update_data',id=item['_id'])}}">Update</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <button id="submit">Return To Menu</button>
        </form>
        <script src="{{url_for('static',filename='script.js')}}"></script>
    </body>
</html>
