<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Data Addition </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head> 

    <body>
        <form action="/display-data" method="POST">
            <table class="styled-table" >
                <thead>
                    <th>Room No</th>
                    <th>User Name</th>
                    <th>People Count</th>
                    <th>Days Of Stay</th>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td class="name-row">{{item.RoomID}}</td>
                        <td class="name-row">{{item.User}}</td>
                        <td class="name-row">{{item.Count}}</td>
                        <td class="name-row">{{item.Stay}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <button id="submit">Return To Menu</button>
        </form>
        <script src="{{url_for('static',filename='script.js')}}"></script>
    </body>
</html>