<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Update Data Of Table </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        <centre>
            <form action="/update-data" method="POST,GET">
                <div class="form-item">
                    <label>
                        <centre>
                            <p> Update Data Of Mongo DB</p>
                        </centre>
                        <div class="container">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {{message}}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </label>
                </div>
                <div class="form-item">
                    <label>Room Number : </label>
                    <div class="input-wrapper">
                        <input type="number" name="roomNo" id="roomNo" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true"/>
                    </div>
                </div>
                <div class="form-item">
                    <label>New Room Number : </label>
                    <div class="input-wrapper">
                        <input type="number" name="nnoomNo" id="nroomNo" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true"/>
                    </div>
                </div>
                <div class="form-item">
                    <label>New User Name : </label>
                    <div class="input-wrapper">
                        <input type="text" name="nroomUser" id="nroomUser" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true"/>
                    </div>
                </div>
                <div class="form-item">
                    <label>New Room User Count : </label>
                    <div class="input-wrapper">
                        <input type="number" name="nroomCount" id="nroomCount" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true"/>
                    </div>
                </div>
                <div class="form-item">
                    <label>New Days Of Stay In The Hotel : </label>
                    <div class="input-wrapper">
                        <input type="number" name="nroomStay" id="nroomStay" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true"/>
                    </div>
                </div>
                <button id="submit">Update Data</button>
            </form>
        </centre>
        <script src="{{url_for('static',filename='script.js')}}"></script>
    </body>
</html>